<!DOCTYPE html>
    <h1>안녕하세요 EJS 템플릿을 사용한 화면입니다.</h1>
    <p>EJS를 사용하시면 편하게 화면을 구성하실 수 있습니다. </p>
    <hr/> 
    아이디 :<input type ="text" id="userId"/>
    <br>
    비밀번호 :<input type="text" id="userPassword"/>
    <br>
    핸드폰 번호 :<input type="text" id="userNumber"/>
    <br>
    <button type="button" id="loginBtn">로그인</button>
    <!-- jquery선언 (script 코드 위에)-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        //jquery 활용한 로그인 버튼 이벤트 핸들러
        $("#loginBtn").click(function(){
            var userId = $("#userId").val();
            var userPassword = $("#userPassword").val();
            var userNumber = $("#userNumber").val();
            console.log(userId,userPassword,userNumber);
            //jquery 이용한 ajax 사용 
            $.ajax({
                url:'/ajaxTest', //요청날리는 url
                type : 'POST',
                data : {
                    sendUserId : userId,
                    sendUserPassword : userPassword,
                    sendUserNumber: userNumber
                },
                success:function(response){
                    console.log(response);
                }
            })
        })
    </script>
</html>